html{
    overflow: hidden;
    }

body{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
        }

.background-image{
    background-image: url('background_1.jpg');
    background-color: paleturquoise;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    }

.result-background{
    background-image: url('background_2.jpg');
    background-color: paleturquoise;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    }    

 #login-form-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    }

label{
    cursor: pointer;
    display: inline-block;
    padding: 3px 6px;
    text-align: right;
    width: 150px;
    vertical-align: top;
    }
   
.has-text-centered{
    text-align: center;
    width: 400px;
    font-size: 25px;
    }